html, body {
  margin: 0px;
  font-family: sans-serif;
}
.main-header {
	background-color: red;
	color: #ffffff;
}
.main-header a {
	color: #ffffff;
}
.main-section {
	padding: 15px;
}
img {
	max-width: 100%;
}
.main-panel {
	margin-top: 5%;
}
.character-image {
	margin-bottom: 5%;
}